.projects-wrapper > article, .projects-img, .title{
    display: none;
}

body:has(#pj1:checked){
    .loonsword{
        display: flex;
    }
    .loonsworld-img, .loonsworld-title{
        display: block;
    }
}

body:has(#pj2:checked) {
    .WAFS{
        display: flex;
    }
    .WAFS-img, .WAFS-title{
        display: block;
    }
}

body:has(#pj3:checked) {
    .pokemon{
        display: flex;
    }
    .pokemon-img, .pokemon-title{
        display: block;
    }
}

body:has(#pj4:checked) {
    .roger{
        display: flex;
    }
    .roger-img, .roger-title{
        display: block;
    }
}

body:has(#pj5:checked) {
    .ns{
        display: flex;
    }
    .ns-img, .ns-title{
        display: block;
    }
}

body:has(#pj6:checked) {
    .hackaton{
        display: flex;
    }
    .hackaton-img, .hackaton-title{
        display: block;
    }
}

body:has(#pj7:checked) {
    .ff{
        display: flex;
    }
    .ff-img, .ff-title{
        display: block;
    }
}

body:has(.projects) main{
    position: relative;
}


.projects-header{
    img{
        width: 100%;
    }

    h1{
        font-size: 2.5rem;
    }
}

.projects-nav{
    display: flex;
    flex-direction: column;
    width: 5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    transition: .5s ease;
    z-index: 99;

    &:hover{
        height: 25rem;
        transition: .5s ease;
        li{
                bottom: calc(var(--pj-index) * 3.5rem - 3.5rem);
                transition: .5s ease;
            }

    } 

    li{
        display: flex;
        align-items: center;
        position: absolute;
        height: 3.5rem;
        bottom: 0;
        width: 100%;
        transition: .5s ease;

        &:hover{
            p{
                transform: translateX(-4.5rem);
                transition: .2s ease;
            }
        }
    }

        &:has(#pj1:checked){
            li:nth-child(1){--pj-index:1; z-index: 1;}
            li:nth-child(2){--pj-index:2;}
            li:nth-child(3){--pj-index:3;}
            li:nth-child(4){--pj-index:4;}
            li:nth-child(5){--pj-index:5;}
            li:nth-child(6){--pj-index:6;}
            li:nth-child(7){--pj-index:7;}
        }
        
        &:has(#pj2:checked){
            li:nth-child(1){--pj-index:7;}
            li:nth-child(2){--pj-index:1; z-index: 1;}
            li:nth-child(3){--pj-index:2;}
            li:nth-child(4){--pj-index:3;}
            li:nth-child(5){--pj-index:4;}
            li:nth-child(6){--pj-index:5;}
            li:nth-child(7){--pj-index:6;}
        } 

        &:has(#pj3:checked){
            li:nth-child(1){--pj-index:6;}
            li:nth-child(2){--pj-index:7;}
            li:nth-child(3){--pj-index:1; z-index: 1;}
            li:nth-child(4){--pj-index:2;}
            li:nth-child(5){--pj-index:3;}
            li:nth-child(6){--pj-index:4;}
            li:nth-child(7){--pj-index:5;}
        }

        &:has(#pj4:checked){
            li:nth-child(1){--pj-index:5;}
            li:nth-child(2){--pj-index:6;}
            li:nth-child(3){--pj-index:7;}
            li:nth-child(4){--pj-index:1; z-index: 1;}
            li:nth-child(5){--pj-index:2;}
            li:nth-child(6){--pj-index:3;}
            li:nth-child(7){--pj-index:4;}
        }

        &:has(#pj5:checked){
            li:nth-child(1){--pj-index:4;}
            li:nth-child(2){--pj-index:5;}
            li:nth-child(3){--pj-index:6;}
            li:nth-child(4){--pj-index:7;}
            li:nth-child(5){--pj-index:1; z-index: 1;}
            li:nth-child(6){--pj-index:2;}
            li:nth-child(7){--pj-index:3;}
        }

        &:has(#pj6:checked){
            li:nth-child(1){--pj-index:3;}
            li:nth-child(2){--pj-index:4;}
            li:nth-child(3){--pj-index:5;}
            li:nth-child(4){--pj-index:6;}
            li:nth-child(5){--pj-index:7;}
            li:nth-child(6){--pj-index:1; z-index: 1;}
            li:nth-child(7){--pj-index:2;}
        }

        &:has(#pj7:checked){
            li:nth-child(1){--pj-index:2;}
            li:nth-child(2){--pj-index:3;}
            li:nth-child(3){--pj-index:4;}
            li:nth-child(4){--pj-index:5;}
            li:nth-child(5){--pj-index:6;}
            li:nth-child(6){--pj-index:7;}
            li:nth-child(7){--pj-index:1; z-index: 1;}
        }

    label{
        display: flex;
        align-items: center;
    }

    p{
        font-size: .8rem;
        top: 0;
        z-index: -1;
        transition: .2s ease;
    }
    img{
        position: absolute;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

    label:has(input:checked) img{
        border: solid 2px gray;
    }
}

.projects-wrapper{
    width: clamp(1rem, 100%, 80rem);
    justify-self: center;
}

.projects-wrapper > article{
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    section:not(.links){
        display: flex;
        flex-direction: column;
        gap: .5rem;

    }

    .content-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .preview{
        
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            list-style: none;
        }

        img{
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            border: solid 1px black;
        }


    }

    section:not(.preview) ul{
        list-style:disc;
        padding: 0 1rem;
        color: var(--color);        
    }
}


.links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link-button{
    padding: .5rem;
    text-decoration: none;
    cursor: pointer;
    background: var(--button-bg);
    border-radius: 5px;
    color: var(--color);
    transition: .5s ease;


    &:hover{
        transform: translate(3px, -3px);
        transition: .5s ease;
    }
}

.pokemon-title{
    padding: 1rem 5rem!important;
}

.hackaton-title{
    padding: 1rem 4.5rem!important;
}

.roger-controls{
    img{
        width: 100%;
    }
}

.ns .content-container{
    flex-direction: column!important;
}

.hackaton .preview div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




@media (min-width:900px){
    .projects-nav{
        width: 8rem!important;
        bottom: 8rem!important;

        &:hover{
            height: 35rem!important;
            li{
                    bottom: calc(var(--pj-index) * 5rem - 5rem)!important;
                    transition: .5s ease;
                }

        } 

        p{
            font-size: 1rem!important;
        }

        li{

        &:hover{
            p{
                transform: translateX(-8rem)!important;
                transition: .2s ease;
            }
        }
    }
    }

    .projects-header{
        h1{
            text-align: left;
            font-size: 5rem;
        }
        img{
            object-fit: cover;
            height: 25rem;
            object-position: top;
            border-radius: 8px;
        }
    }

    .hackaton-img, .ff-img{
        object-position: center!important;
    } 

    .pokemon-title{
        padding: 1rem 1rem!important;
    }

    .hackaton-title{
        padding: 1rem 1rem!important;
    }


}

@media (min-width:1200px){
    .pokemon, .ns, .roger, .ff, .WAFS{
        .preview{
            ul{
                display: grid!important;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    .roger{
        .content-container{
            display: grid!important;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "rgr-feature rgr-achieved" "rgr-feature rgr-controls";

            section:nth-of-type(1){grid-area: rgr-feature;}
            section::nth-of-type(2){grid-area: rgr-achieved;}
            section::nth-of-type(3){grid-area: rgr-controls;}
        }
    }

    .hackaton .preview ul{
        display: grid!important;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "hackaton-f1 hackaton-f1 hackaton-f2 hackaton-f2" "hackaton-f3 hackaton-f4 hackaton-f4 hackaton-f5";

        li:nth-child(1){ grid-area: hackaton-f1;}
        li:nth-child(2){ grid-area: hackaton-f2;}
        li:nth-child(3){ grid-area: hackaton-f3;}
        li:nth-child(4){ grid-area: hackaton-f4;}
        li:nth-child(5){ grid-area: hackaton-f5;}

    }
}


/******************************************
 *              pokemon           *
 ******************************************/
